.btn {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    padding: 20px 40px;
    background-color: #E87E04;
    border-color: #E87E04;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn:active,
.btn:focus,
.btn:hover {
    background-color: #fec503 !important;
    border-color: #fec503 !important;
    color: white;
}

.btn:active,
.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}